body {
    margin: 0;
}

header {
    background: #03a9f4;
    text-align: center;
}

.logo {
    color: #fff;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}